﻿@model FIZZBUZZ.Models.FizzBuzzModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    @using (Html.BeginForm("FizzBuzz", "FizzBuzz"))
    {
        <div>
            @Html.TextBoxFor(model => model.fizzBuzzNumber, new { @maxlength = "5" })
            <input type="submit" value="Submit" />
            @Html.ValidationMessageFor(model => model.fizzBuzzNumber)
            @if (Model != null)
            {
                foreach (var fizzBuzz in ViewBag.FizzBuzzList)
                {
                   <div style="color: @fizzBuzz.colorCode">@fizzBuzz.DisplayValue</div>
                }
                <br/>
            }
        </div>
    }
</body>

</html>
